@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Days+One&display=swap');

* {
  box-sizing: border-box;
}


/* PROF NOTE: There are multiple "states" for a link– to color all of them the same
              we can use a rule like the following: */
a, a:visited {
  color: #000;
  text-deocarion: none; /* Removes underline */
}

#header {
  font-family: 'Days One', sans-serif;
  font-size: 50px;
  padding: 8px;
  border: 2px;
  margin: 1px;
}
#urban {
  font-family: 'Days One', sans-serif;
  font-size: 50px;
  padding: 8px;
  border: 2px;
  margin: 1px;
  display: inline-block;
  background-color: #235ae6;
}
#displacement {
  font-family: 'Days One', sans-serif;
  font-size: 50px;
  padding: 12px;
  /* You can use padding-top, padding-right, padding-bottom, and padding-left to
     control the padding on individual sides of an element, see below. */
  border: 2px;
  margin: 1px;
  display: inline-block;
  background-color: #ffeb67;
  position: absolute;
  top: 20px;
  left: 20px; /* Just pushing the element down 25px from the top */
  /* right: 0; */
  left: 150px; /* Moving it over 150px from the left */
}

#urban {
  vertical-align: top; /* Causes the #urban DIV to align to the top of the #logosection DIV,
                          instead of the default behavior which will push it down to the bottom */
}

#displacement {
  position: static; /* This is the "default" value for position– resetting the CSS we have above */
  margin-top: 15px;
  margin-left: -17px;
}

#logo {
  position: absolute;
  top: -11px;
  margin-left: 10px;
  right:-77px;


}


#intro {
  font-family: 'Days One', sans-serif;
  font-size: 25px;
  top: 20px;
  padding: 8px;
  border: 2px;
  margin: 1px;
  text-align: center;

}

#researchintro {
  font-family: 'Days One', sans-serif;
  font-size: 25px;
  padding: 8px;
  border: 2px;
  margin: 1px;
  top: -20px;
  display: relative;
}

#whatwedo {
  font-family: 'Days One', sans-serif;
  font-size: 25px;
  padding: 8px;
  border: 2px;
  margin: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

#comingsoon {
  font-family: 'Days One', sans-serif;
  font-size: 60;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#reporttag {
  font-family: 'Days One', sans-serif;
  font-size: 40px;
  color: Black;
  padding: 8px;
  background-color: #4eb350;
  border: 2px;
  margin: 1px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;

}
#report1 {
  font-family: 'Days One', sans-serif;
  font-size: 25px;
  font-family: 'Days One', sans-serif;
  font-size: 40px;
  color: Black;
  padding: 8px;
  background-color: #4eb350;
  border: 2px;
  margin: 1px;
  display: inline-block;
  position: absolute;
}

#reportbox1 {
  font-family: 'Days One', sans-serif;
  font-size: 25px;
  font-family: 'Days One', sans-serif;
  font-size: 40px;
  color: Black;
  padding: 8px;
  background-color: #4eb350;
  border: 2px;
  margin: 1px;
  display: inline-block;
  position: relative;
}

.logosection {
 display: inline-block;
 position: relative;
 font-family: 'Days One', sans-serif;
 font-size: 40px;
 padding: 16px;
 border: 4px;
 margin: 3px;
}

 .navigation {
  font-family: 'Days One', sans-serif;
  font-size: 40px;
  color: Black;
  padding: 8px;
  border: 2px;
  margin: 1px;
  display: inline-block;
  margin-left: 120px;
}

.navButton {
  display: inline-block;
  background-color: #69b05a;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.homeButton {
  display: inline-block;
}

.logosection {
 display: inline-block;
 position: relative;
 font-family: 'Days One', sans-serif;
 font-size: 40px;
 padding: 12px;
 border: 2px;
 margin: 1px;
}

.leftcolumn {
 display: inline-block;
 width: 25%;
 vertical-align: top;
 /* position: absolute; */
}

.wideGraphic {
  width: 90%;
  padding-left:60px
}

.rightcolumn {
  width: 74%;
 display: inline-block;
 /* position: absolute; */
}

.quotes {
font-size: 80px;
font-family: 'Days One', sans-serif;
display: inline-block;

}

.reportbox {
 display: inline-block;
 position: relative;
 font-family: 'Days One', sans-serif;
 font-size: 40px;

}

#quote, #mapcolumn  {
  vertical-align: top;
  display: inline-block;
}

#quote {
  font-family: 'Days One', sans-serif;
  font-size: 25px;
  width: 39%;
  padding-right: 25px;

}

#mapcolumn {
  width: 60%;
}
